body {
    font-size:12pt;
    background-color: #0E0B16;
    color: #A239CA;
    font-family: verdana;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

select {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-family: verdana;
    font-size: 1.3em;
    background-color: #E7DFDD;
    color: #0E0B16;
    border: none;
}

.border {
    border: 5px #0E0B16;
}

.banner {
    color: #E7DFDD;
    text-align: center;
    background-color: #0E0B16;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.button {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-family: verdana;
    font-size: 1.3em;
    background-color: #4717F6;
    color: #E7DFDD;
    border: none;
}

.button:hover {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-family: verdana;
    font-size: 1.3em;
    background-color: #2f109e;
    color: #E7DFDD;
    border: none;
}

.bold {
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 3px black;
    padding: 10px;
}

.centered-container {
    width: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.left-box {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 10px; 
}

.right-box {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 45%;
    margin: 10px; 
}

.table {
    width: 75%;
    border: none;
    border-spacing: 0;
    margin: 1rem;
    background-color: #4717F6;
    color: #E7DFDD;
    text-align: left;
}

.table__row:nth-child(even) {
    background-color: #4014df;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}

.tax-records {
    display: none;
}

.text-box {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-family: verdana;
    font-size: 1.3em;
    background-color: #E7DFDD;
    color: #0E0B16;
}

.year-header {
    cursor: pointer;
}
