body {
    font-size:12pt;
    font-family:verdana;
}

.border {
    border: 5px black;
}

.banner {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 3px black;
    padding: 10px;
}

.centered-container {
    width: 50%;
    padding: 10px;
    margin: auto;
    text-align: center;
    text-align: center;
}

.left-box {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 10px; 
}

.right-box {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 45%;
    margin: 10px; 
}

.table {
    width: 100%;
    border: 1px solid;
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}

.tax-records {
    display: none;
}

.year-header {
    cursor: pointer;
}
