<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Tax Calculator</title>
    <script>
        function validateForm() {
            var year = document.getElementById("year").value;
            var income = document.getElementById("income").value;

            // Year Validation
            if (isNaN(year) || year < 1900 || year > new Date().getFullYear()) {
                alert("Please enter a valid year.");
                return false;
            }

            // Income Validation
            if (isNaN(income) || income < 0) {
                alert("Please enter a valid income.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h2 class="content-title">Tax Calculator</h2>
            {% if error_message != "" %}
            <span class="msg">{{ error_message }}</span>
            {% endif %}
            <form action="/calculate_tax" method="post" onsubmit="return validateForm()" class="form">
                <div class="input-group">
                    <label for="year">Year:</label>
                    <input type="text" id="year" name="year" required class="text-box">
                </div>
                
                <div class="input-group">
                    <label for="status">Marital Status:</label>
                    <select id="status" name="status" required>
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                    </select>
                </div>
                
                <div class="input-group">
                    <label for="income">Total Annual Income:</label>
                    <input type="number" id="income" name="income" required class="text-box">
                </div>
    
                <input type="submit" name="calculate_submit" value="Calculate Tax" class="content-button">
            </form>
            <form method="POST" class="form">
                    <input type="submit" name="return_home" value="Return Home" class="content-button"/>
            </form>
        </div>
    </div>
</body>
</html>
