<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Create Account</title>
</head>
<body>
    <div class="centered-container">
        <h1 class="banner">Create Account</h1>
        <form id="creation_form" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
    
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required><br>
    
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required><br>
    
            <input type="submit" name="create_account" value="Create Account">
            {% if error_message == "" %}
                <p></p>
            {% else %}
                <p>{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
