<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Create Account</title>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Create Account</h1>
            <form action="{{ url_for('create_account') }}" method="post" class="form">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required class="text-box">
                </div>

                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required class="text-box">
                </div>
    
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required class="text-box">
                </div>

                <div class="input-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required class="text-box">
                </div>
    
                <div class="input-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required class="text-box">
                </div>
    
                <input type="submit" value="Create Account" class="content-button">
    
                <button onclick="goBack()" class="content-button">Back</button>
            </form>
        </div>
    </div>
    <script>
        function goBack() {
            window.location.href = '{{ url_for("index") }}';
        }
    </script>
</body>
</html>
