<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deduction Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h2 class="content-title">Deduction Selection</h2>
            <form action="/deduction" method="post" class="form">
                <label for="deduction_type">Select Deduction Type:</label>
                <select id="deduction_type" name="deduction_type">
                    <option value="standard">Standard Deduction</option>
                    <option value="itemized">Itemized Deduction</option>
                </select>
                <input type="submit" value="Submit" class="content-button">
            </form>
        </div>
    </div>
</body>
</html>
