<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Shuttle Admin</title>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Delete User by Username</h1>
            <form method="POST" class="form">
                    <div class="input-group">
                        <label for="delete_name">Delete User:</label>
                        <input type="text" id="delete_name" name="delete_name" class="text-box">
                    </div>
                    <input type="submit" name="delete_user" value="Delete" class="content-button"/>
                {% if feedback_message != "" %}
                <span class="msg">{{ feedback_message }}</span>
                {% endif %}
            </form>
            <form method="POST" class="form">
                    <input type="submit" name="return_home" value="Return Home" class="content-button"/>
            </form>
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>
</html>