<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Edit Account</title>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Edit Account</h1>
            <form action="{{ url_for('edit_account') }}" method="post" class="form">
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" >
                </div>
                
                <div class="input-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" >
                </div>

                <div class="input-group">
                    <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" >                
                </div>
        
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" >             
                </div>
        
                <input type="submit" name ="edit_submit" value="Update" class="content-button">
            </form>
            <form method="POST" class="form">
                    <input type="submit" name="return_home" value="Return Home" class="content-button"/>
            </form>
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>
</html>
