<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="centered-container">
        <h1 class="banner">Login</h1>
        <form id="loginForm" method="POST">
            <fieldset>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" name="login_button" value="Login">
                <input type="submit" name="create_button" value="Create New Account">
                {% if error_message == "" %}
                    <p></p>
                {% else %}
                    <p>{{ error_message }}</p>
                {% endif %}
            </fieldset>
        </form>
    </div>
</body>
</html>
