<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shuttle Cash</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="full-screen-container">
    <div class="content-container">
      <h1 class="content-title">Welcome to ShuttleCash!</h1>
      <form class="form" method="POST">
        <div class="input-group success">
          <label for="username">User name</label>
          <input type="text" name="username" id="username">
        </div>

        <div class="input-group error">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
          {% if error_message != "" %}
          <span class="msg">{{ error_message }}</span>
          {% endif %}
          <a href="/request_password_reset" class="register-link" id="password_reset">Forgot password?</a>
        </div>

        <button type="submit" class="content-button" name="login-button">Login</button>
        <p class="register-prompt">Not registered? <a href="/create_account" class="register-link" id="create_button">Create an account!</a></p>
        <p class="register-prompt">For more information on ShuttleCash, <a href="/details" class="register-link" id="details">Click here!</a></p>

    </div>
  </div>

  <script src="/static/javascript/script.js"></script>
</body>
</html>