<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <style>
        .forgot-password {
            display: block; /* Display the link as a block-level element */
            margin-top: 10px; /* Add some top margin to separate it from the password input */
        }
    </style>
</head>
<body>
    <div class="centered-container">
        <h1 class="banner">Login</h1>
        <form id="loginForm" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="text-box"><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="text-box">
                <a href="{{ url_for('request_password_reset') }}" class="forgot-password">Forgot Password?</a> <!-- Link to forgot password page -->
                <br><br>
                <input type="submit" name="login_button" value="Login" class="button">
                <input type="submit" name="create_button" value="Create New Account" class="button">
                {% if error_message == "" %}
                    <p></p>
                {% else %}
                    <p>{{ error_message }}</p>
                {% endif %}
        </form>
    </div>
</body>
</html>
