<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login" name="action">
        <input type="submit" value="Create New Account" name="action">
    </form>

<!--    <script>-->
<!--       document.getElementById("loginForm").addEventListener("submit", function(event) {-->
<!--    var action = event.submitter.value;-->
<!--    if (action === "Login") {-->
<!--        event.preventDefault(); // Prevent default form submission-->
<!--        this.action = "{{ url_for('display_account') }}"; // Change form action-->
<!--        this.submit(); // Submit the form with the new action-->
<!--    } else {-->
<!--        // Check if username or password fields are empty-->
<!--        var username = document.getElementById("username").value;-->
<!--        var password = document.getElementById("password").value;-->
<!--        if (!username || !password) {-->
<!--            event.preventDefault(); // Prevent default form submission-->
<!--            alert("Username and password are required."); // Display an error message-->
<!--        }-->
<!--    }-->
<!--});-->

<!--    </script>-->
</body>
</html>
