<!-- reset_password_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Reset Password</h1>
            <form method="POST" class="form">
                <p>Account username: {{ account.get_user_name() }}</p>
                <div class="input-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required class="text-box">
                </div>
                <div class="input-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required class="text-box">
                </div>
                <input type="submit" value="Reset Password" class="content-button">
            </form>
            {% if error_message == "" %}
                <p></p>
            {% else %}
                <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>
</html>
