<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Password Reset Request</h1>
            <form method="POST" class="form">
                <div class="input-group">
                    <label for="email">Enter your email address:</label>
                    <input type="email" id="email" name="email" required class="text-box">
                </div>
                {% if error_message != "" %}
                <span class="msg">{{ error_message }}</span>
                {% endif %}
                <input type="submit" name="submit" value="Request Password Reset" class="content-button">
            </form>
            <a href="{{ url_for('index') }}" class="register-link">Back to Login</a>
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>
</html>
