<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
    <h1>Password Reset Request</h1>
    <form method="POST">
        <label for="email">Enter your email address:</label><br>
        <input type="email" id="email" name="email" required><br><br>
         {% if error_message == "" %}
                    <p></p>
                {% else %}
                    <p>{{ error_message }}</p>
                {% endif %}
        <input type="submit" name="submit" value="Request Password Reset">
    </form>
    <a href="{{ url_for('index') }}">Back to Login</a>
</body>
</html>
