<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>User Information</title>
    <script>
        function toggleTaxRecords(year) {
            var taxRecords = document.getElementById("tax-records-" + year);
            if (taxRecords.style.display === "none") {
                taxRecords.style.display = "block";
            } else {
                taxRecords.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h2 class="content-title">User Information</h2>
            <p><strong>Name:</strong> {{ account.get_user_name() }}</p>
            <p><strong>Email:</strong>  {{ account.get_email() }}</p>
            <p><strong>First Name:</strong>  {{ account.get_first_name() }}</p>
            <p><strong>Last Name:</strong>  {{ account.get_last_name() }}</p>
    
            <h2 class="content-title">Tax Records</h2>
            <ul>
                {% for tax_record in tax_records %}
                <li>
                    <span class="year-header" onclick="toggleTaxRecords('{{ tax_record.get_year() }}')">
                        Year: {{ tax_record.get_year() }}
                    </span>
                    <ul id="tax-records-{{ tax_record.get_year() }}" class="tax-records">
                        <li>
                            <p>Total Income: ${{ '%.2f' % tax_record.get_total_income() }}</p>
                            <p>Income Tax: ${{ '%.2f' % tax_record.get_income_tax() }}</p>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <form method="POST" class="form">
                <input type="submit" name="return_home" value="Return Home" class="content-button"/>
            </form>
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>
</html>
