<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Welcome to Shuttle Cash!</title>
</head>
<body>
    <div class="centered-container">
        <h1 class="banner">Welcome to Shuttle Cash!</h1>
        <form method="POST">
            <fieldset>
                <label for="redirection">Select an action:</label><br>
                <select name="redirection" required>
                    <option value="display">Display all user information</option>
                    <option value="edit">Edit user profile</option>
                    <option value="generate">Generate income tax estimate</option>
                </select><br><br>
                <input type="submit" name="redirect_submit" value="Submit">
            </fieldset>
            {% if message == "" %}
                <p></p>
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        </form>
        <form method="POST">
            <input type="submit"  name = "logout" value="Logout">
        </form>
    </div>
</body>
</html>
