<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Shuttle Admin</title>
</head>
<body>
    <div class="centered-container">
        <h1 class="banner">Search User by Name</h1>
        <form method="POST">
            <fieldset>
                <label for="search_name">Search Name:</label>
                <input type="text" id="search_name" name="search_name"><br><br>
                <label for="search_user">Search:</label>
                <input type="submit" name="search_user" value="Search" />
            </fieldset>
            <br>
        </form>
        <table class="table">
            <tr class="table__header">
                <th class="table__cell">Username</th>
                <th class="table__cell">Password</th>
                <th class="table__cell">Email</th>
                <th class="table__cell">First Name</th>
                <th class="table__cell">Last Name</th>
            </tr>
            <tr class="table__row">
                <td class="table__cell">{{ user_data.user_name }}</td>
                <td class="table__cell">{{ user_data.password }}</td>
                <td class="table__cell">{{ user_data.email }}</td>
                <td class="table__cell">{{ user_data.first_name }}</td>
                <td class="table__cell">{{ user_data.last_name }}</td>
            </tr>
        </table>
        <table class="table">
            <tr class="table__header">
                <th class="table__cell">Username</th>
                <th class="table__cell">Year</th>
                <th class="table__cell">Status</th>
                <th class="table__cell">Total Income</th>
                <th class="table__cell">Adjusted Total Income</th>
                <th class="table__cell">Income Tax</th>
            </tr>
            {% for i in range(tax_data_size) %}
            <tr class="table__row">
                <td class="table__cell">{{ tax_data[i].user_name }}</td>
                <td class="table__cell">{{ tax_data[i].year }}</td>
                <td class="table__cell">{{ tax_data[i].status }}</td>
                <td class="table__cell">{{ tax_data[i].total_income }}</td>
                <td class="table__cell">{{ tax_data[i].adjusted_total_income }}</td>
                <td class="table__cell">{{ tax_data[i].income_tax }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <form method="POST">
            <fieldset>
                <label for="return_home">Return Home:</label>
                <input type="submit" name="return_home" value="Home" />
            </fieldset>
            <br>
        </form>
    </div>
</body>
</html>