<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Welcome to Shuttle Cash!</title>
</head>
<body>
    <div class="full-screen-container">
        <div class="content-container">
            <h1 class="content-title">Welcome to Shuttle Cash!</h1>
            <form method="POST" class="form">
                <div class="input-group">
                    <label for="redirection">Select an action:</label>
                    <select name="redirection" id="redirection" required>
                        <option value="display">Display all user information</option>
                        <option value="edit">Edit user profile</option>
                        <option value="generate">Generate income tax estimate</option>
                    </select>
                </div>
                <input type="submit" name="redirect_submit" value="Submit" class="content-button">
                {% if message != "" %}
                <span class="msg">{{ message }}</span>
                {% endif %}
            </form>
            <form method="POST" class="form">
                <input type="submit"  name = "logout" value="Logout" class="content-button">
            </form>
        </div>
    </div>
</body>
</html>
