<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>User Information</title>
</head>
<body>
    <div class="centered-container">
        <h2 class="banner">User Information</h2>
        <p><strong>Name:</strong> {{ account.get_user_name() }}</p>
        <p><strong>Email:</strong>  {{ account.get_email() }}</p>
        <p><strong>First Name:</strong>  {{ account.get_first_name() }}</p>
        <p><strong>Last Name:</strong>  {{ account.get_last_name() }}</p>
    </div>
</body>
</html>
